// -----------------------------------------------------------------------------
// Color declarations
// (naming convention : http://www.color-blindness.com/color-name-hue/):
// -----------------------------------------------------------------------------

// Main colors
$apple: #5dbf48;
$kelly-green: #6FC017;
$sulu: #BDE98F;
$blue-romance: #CEEBC8;
$apple-green: #E6EEE2;
$apple-darker-1: darken($apple, 5%);
$apple-darker-2: darken($apple, 10%);
$la-palma: darken($apple, 20%);
$gamboge: #EE9111;
$dodger-blue: #39b3ff;
$doger-blue-darker: darken($dodger-blue, 5%);
$summer-sky: darken($dodger-blue, 10%);
$pelorous: darken($dodger-blue, 20%);

$red-orange: #ff4539;
$red-orange-darker: darken($red-orange, 5%);
$cinnabar: darken($red-orange, 10%);
$persian-red: darken($red-orange, 20%);

$gorse: #fdd835;
$golden-dream: darken($gorse, 5%);
$gold-tips: darken($gorse, 10%);
$metallic-gold: darken($gorse, 20%);

// Black, White & grays
$black: #06112b;
$black-alpha: rgba(#06112b, 0.1);

$charcoal: #4a4a4a;
$charcoal-darker-1: darken($charcoal, 5%);
$charcoal-darker-2: darken($charcoal, 10%);
$eclipse: darken($charcoal, 20%);

$silver: #bebebe;
$nobel: #9b9b9b;
$suva-grey: darken($nobel, 5%);
$suva-grey-darker: darken($nobel, 10%);
$grey: darken($nobel, 20%);

$grey-background: #fbfbfb;
$white-smoke: #f9f9f9;
$white: #fff;

// -----------------------------------------------------------------------------
// Color scopes:
// -----------------------------------------------------------------------------
$brand-color: $apple;
$brand-text-color: $black;
$brand-text-color-secondary: $nobel;
$body-bg-color: $grey-background;

$card-info-color: $nobel;

$border-color: rgba(#dbdbdb, .5 );
$disabled-color: lighten($nobel, 20%);

$overlay-color: $charcoal;

$calendar-white: $white;
$calendar-black: $black;
$calendar-primary-color: $nobel;
$calendar-month-color: #cac5bd;

$shadow-color: lighten($nobel, 28%);
$filter-color: $nobel;
$selection-color: $apple;

$progress-up: $apple;
$progress-up-ok: $kelly-green;
$progress-down-ok: $gamboge;
$progress-down: $red-orange;
$divider-color: $nobel;

$text-color: $charcoal;
$link-color: $selection-color;

$button: $selection-color;
$calendar-select-1: $selection-color;
$calendar-select-2: #eb5836;

$ui-switch-initial: $silver;
$ui-switch-checked: $apple;
$ui-switch-disabled: $nobel;
$ui-checkbox-checked: $apple;


// graphs
$current-data-color: $apple;
$compared-data-color: $sulu;
$goal-data-color: rgba(208,2,27,0.5);
$current-data-color-opacity: rgba($apple, 0.1);

$panel-filters-bg-color: $white-smoke;
$panel-geo-nom-bg-color: $white-smoke;

//Map
$map-neutral-color : $nobel;
$map-selected-site-color : $dodger-blue;

// Grids
$row-bg-odd-color: #f7f7f7;
$row-bg-hover-brand-color: $blue-romance;
