// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import '~modularscale-sass/stylesheets/modularscale';

$regular-font-weight: 400;
$medium-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;

$primary-font: 'Open sans', sans-serif;
$secondary-font: 'Raleway', 'Open sans';

%primary-font {
  font-family: $primary-font;
}

%secondary-font {
  font-family: $secondary-font;
}

// Font sizes
///////////////////////////////////
$modularscale: (
  base: 1rem,
  ratio: 1.2
);

%fs-extra_large {
  font-size: ms(5);
}

%fs-medium_large {
  font-size: ms(4);
}

%fs-large {
  font-size: ms(3);
}

%fs-medium {
  font-size: ms(2);
}

%fs-normal {
  font-size: ms(1);
}

%fs-base {
  font-size: ms(0);
}

%fs-small {
  font-size: ms(-1);
}

%fs-extra_small {
  font-size: ms(-2);
}

// Font weights
///////////////////////////////////

%fw-regular {
  font-weight: $regular-font-weight;
}

%fw-medium {
  font-weight: $medium-font-weight;
}

%fw-semi-bold {
  font-weight: $semibold-font-weight;
}

%fw-bold {
  font-weight: $bold-font-weight;
}

%italic {
  font-style: italic;
}
