// -----------------------------------------------------------------------------
// This file contains all defined icons.
// -----------------------------------------------------------------------------
// Icons font
$icon-font-path: 'icomoon';

$icons: (
  alarm: '\e900',
  align-center: '\e901',
  align-justify: '\e902',
  align-left: '\e903',
  align-right: '\e904',
  archive: '\e905',
  arrow-down: '\e906',
  arrow-left: '\e907',
  arrow-right: '\e908',
  arrow-thick-base: '\e909',
  arrow-thick-down: '\e90a',
  arrow-thin-down: '\e90b',
  arrow-thin-left: '\e90c',
  arrow-thin-right: '\e90d',
  arrow-thin-up: '\e90e',
  arrow-up: '\e90f',
  article: '\e910',
  backspace: '\e911',
  basket: '\e912',
  bell: '\e913',
  blog: '\e914',
  bluetooth: '\e915',
  bold: '\e916',
  bookmark: '\e917',
  bookmarks: '\e918',
  brightness-low: '\e919',
  brightness-max: '\e91a',
  brightness-medium: '\e91b',
  browser: '\e91c',
  browser-upload: '\e91d',
  calendar: '\e91e',
  camcorder: '\e91f',
  camera: '\e920',
  card: '\e921',
  cart: '\e922',
  checklist: '\e923',
  checkmark: '\e924',
  chevron-down: '\e925',
  chevron-left: '\e926',
  chevron-right: '\e927',
  chevron-up: '\e928',
  Clip2: '\e929',
  clipboard: '\e92a',
  clock: '\e92b',
  clockwise: '\e92c',
  cloud: '\e92d',
  cloud-download: '\e92e',
  cloud-upload: '\e92f',
  code: '\e930',
  contract: '\e931',
  contract-2: '\e932',
  conversation: '\e933',
  copy: '\e934',
  crop: '\e935',
  cross: '\e936',
  crosshair: '\e937',
  cutlery: '\e938',
  device-desktop: '\e939',
  device-mobile: '\e93a',
  device-tablet: '\e93b',
  direction: '\e93c',
  disc: '\e93d',
  document: '\e93e',
  document-delete: '\e93f',
  document-edit: '\e940',
  document-new: '\e941',
  document-remove: '\e942',
  dot: '\e943',
  dots-2: '\e944',
  dots-3: '\e945',
  download: '\e946',
  duplicate: '\e947',
  enter: '\e948',
  exit: '\e949',
  expand: '\e94a',
  expand-2: '\e94b',
  experiment: '\e94c',
  export: '\e94d',
  flag: '\e94e',
  folder: '\e94f',
  folder-open: '\e950',
  forward: '\e951',
  gear: '\e952',
  graph-bar: '\e953',
  graph-line: '\e954',
  graph-pie: '\e955',
  headset: '\e956',
  heart: '\e957',
  heartbeat: "\e9c0",
  help: '\e958',
  home: '\e959',
  hourglass: '\e95a',
  inbox: '\e95b',
  info-bubble-base: '\e95c',
  information: '\e95d',
  search: '\e95e',
  italic: '\e95f',
  lightbulb: '\e960',
  link: '\e961',
  link-broken: '\e962',
  list: '\e963',
  loading: '\e964',
  location: '\e965',
  lock: '\e966',
  lock-open: '\e967',
  mail: '\e968',
  map: '\e969',
  media-loop: '\e96a',
  media-next: '\e96b',
  media-pause: '\e96c',
  media-play: '\e96d',
  media-previous: '\e96e',
  media-record: '\e96f',
  media-shuffle: '\e970',
  media-stop: '\e971',
  medical: '\e972',
  menu: '\e973',
  message: '\e974',
  meter: '\e975',
  microphone: '\e976',
  minus: '\e977',
  minus-circle: '\e978',
  misc-truck: '\e979',
  monitor: '\e97a',
  move: '\e97b',
  music: '\e97c',
  network-1: '\e97d',
  network-2: '\e97e',
  network-3: '\e97f',
  network-4: '\e980',
  network-5: '\e981',
  pamphlet: '\e982',
  paperclip: '\e983',
  pencil: '\e984',
  phone: '\e985',
  photo: '\e986',
  photo-group: '\e987',
  pill: '\e988',
  pin: '\e989',
  plus: '\e98a',
  plus-circle: '\e98b',
  power: '\e98c',
  preview: '\e98d',
  print: '\e98e',
  pulse: '\e98f',
  question: '\e990',
  reply: '\e991',
  reply-all: '\e992',
  return: '\e993',
  retweet: '\e994',
  rocket: '\e995',
  scale: '\e996',
  shopping-bag: '\e997',
  skip: '\e998',
  stack: '\e999',
  star: '\e99a',
  stopwatch: '\e99b',
  store: '\e99c',
  suitcase: '\e99d',
  swap: '\e99e',
  tag: '\e99f',
  tag-delete: '\e9a0',
  tags: '\e9a1',
  thumbs-down: '\e9a2',
  thumbs-up: '\e9a3',
  ticket: '\e9a4',
  time-reverse: '\e9a5',
  to-do: '\e9a6',
  toggles: '\e9a7',
  trash: '\e9a8',
  trophy: '\e9a9',
  upload: '\e9aa',
  user: '\e9ab',
  user-black-text: '\e9ac',
  user-group: '\e9ad',
  user-id: '\e9ae',
  view-apps: '\e9af',
  view-list: '\e9b0',
  view-list-large: '\e9b1',
  view-thumb: '\e9b2',
  volume-full: '\e9b3',
  volume-low: '\e9b4',
  volume-medium: '\e9b5',
  volume-off: '\e9b6',
  wallet: '\e9b7',
  warning: '\e9b8',
  warning-bubble-base: '\e9b9',
  web: '\e9ba',
  weight: '\e9bb',
  wifi: '\e9bc',
  wrong: '\e9bd',
  zoom-in: '\e9be',
  zoom-out: '\e9bf'
);

@each $name, $ic in $icons {
  .dik-#{$name}::before {
    content: '#{$ic}';
  }
}
