// TYPOGRAPHY
// ==============================
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %secondary-font;
  color: $brand-text-color;
  margin: 0 0 10px;
  font-weight: 600;
}

h1 {
  font-size: ms(6);
}

h2 {
  font-size: ms(5);
}

h3 {
  font-size: ms(4);
}

h4 {
  font-size: ms(3);
}

h5 {
  font-size: ms(2);
}

h6 {
  font-size: ms(1);
}

p {
  margin-bottom: 15px;

  &.magnify {
    @extend %fs-base;
    line-height: 1.8;
  }
}

strong,
b {
  @extend %fw-bold;
}

.text-secondary {
  @extend %fw-regular;
  color: $brand-text-color-secondary;
}
